MIELE_CLIENT_ID=your_client_id
MIELE_CLIENT_SECRET=your_client_secret
MIELE_PORT=3000
MIELE_POLL_INTERVAL=60
MIELE_DRYRUN=true
MIELE_INFLUX_URL=http://localhost:8086
MIELE_INFLUX_TOKEN=your_influx_token
MIELE_INFLUX_ORG=your_org
MIELE_INFLUX_BUCKET=miele_data
